@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    transition: .5s;
}

.header {
    background-color: rgb(0, 0, 0, 0.5);
    height: 85px;
    overflow: hidden;
  }

nav .logo{
    float: left;
}

nav .logo img {
    max-width: 17.7%;
    height: auto;
    float: left;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding-left: 2%;
    /*padding-right: 135.8%;*/
}

nav ul{

    float: right;
    margin: 0;
    padding: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;

}

nav ul li{
    list-style: none;
    float: left;
}

nav ul li a{

    line-height: 80px;
    color: #ffffff;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    

}

nav ul li a.active,
nav ul li a:hover
{
    color: rgb(0, 0, 0);
    background-color: rgb(241, 162, 42);
    transition: .3s;
}

section .sec1{

    width: 100%;
    height: 100vh;
    background: url();

}

h1{
  
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    float: left;
    max-width: 30%;
    line-height: 350%;

}

.menu{
    position: relative;
}

.ani-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border-left: 1px solid #fff;
    display: inline-block;
}

.menu:focus .ani-menu,
.menu:focus-within .ani-menu,
.menu:hover .ani-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    display: inline;
}

body {
    background-color: rgb(32, 32, 32);
}

.buy{
    width: 15%;
    border: 0;
    padding: 1.5%;
    float: right;
    content: counter(hola);
    margin-top: 30%;
    margin-right: 4%;
    background-color: rgb(241, 162, 42);
  }
  
  .buy a{
      text-decoration: none;
      color: black;
      font-size: 250%;
      padding-left: 17%;
      font-family: 'Roboto', sans-serif;
  }
  .buy:hover{
      background-color: rgb(255, 255, 255);
      transform: scale(0.95);
      transition: 0.1s;
  }

